<div class = "container mt-5">
<h1>ジャンル編集</h1>
<span>
    <%= form_with model: @genres, url: admin_genre_path, method: :patch do |f| %>

    <div >
               <%= f.label :ジャンル名 %>
          <span>
               <%= f.text_field :name %>
          <span>
           
           <div class='form-group'>
             <%= f.submit "変更保存", class:"btn btn-success" %></br>
           </div>
</span>
<% end %>
