<div class = "container mt-5">
    
<h1>注文履歴一覧</h1>

<div class = "table">
    <thead>
        <tr><b>
             <th scope = "col">購入日時</th>
             <th scope = "col">購入者</th>
             <th scope = "col">注文個数</th>
             <th scope = "col">注文ステータス</th>
        <!--上記enum導入欄-->
        </b></tr>
    </thead><br>
         <tbody>
             <tr>
                <td>cc</td>
                <td>vv</td>
                <td>bb</td>
                <td>gg</td>
            　</tr> 
         </tbody>
</div>
