
<div class = "containar mt-">
<h1>商品一覧</h1>

<table>
   <div class = "row">
    <tr>
    <b>  
        <% @items.each do |item| %>
        <div class = col-md-3-offset-1>
        <td>画像</td><span>
            
            <%=link_to item_path(item.id) do %>
            <%= image_tag item.get_image, size: "200x200" %>
            <% end %>
        </div>    
        <div class = col-md-3-offset-1>
        <td>商品名</td><span>
            <%= item.name %>
        </div>    
        <div class = col-md-3-offset-1>
        <td>￥</td><span>
            <%= item.price %>
        </div>
        <% end %>
    </b>
    </tr>
  </div>
</table>