
<div class = "containar mt-5">
<h1>商品一覧</h1>

            <% @items.each do |item| %>
            <tr>
                 <b>  
                <td>  
               <div class = "col d-flex">
                    <%=link_to item_path(item.id) do %>
                    <%= image_tag item.get_image, size: "200x200" %>
                    <% end %></td>
                  <br>
                    <td><%= item.name %></td>
                  <br>
                    <td>￥<%= item.price %></td>
                 <br>
                </b>
            <% end %>
                </div>
            </tr>
  </div>